.icon {
    width: 30px; 
    height: 30px; 
    margin: 10px; 
    cursor: pointer; 
  }
  
  .icon-container {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
  }
  .card-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .card {
    width: 18rem;
  }
